/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/COPYING
/ChangeLog
/ChangeLog-?.??
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/RELNOTES.txt
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoregen.sh
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/gnome-doc-utils.make
/gtk-doc-utils.make
/gtk-doc.cat
/gtk-doc.dsl
/gtk-doc.pc
/gtk-doc.spec
/gtkdoc-check
/gtkdoc-common.pl
/gtkdoc-depscan
/gtkdoc-fixxref
/gtkdoc-mkdb
/gtkdoc-mkhtml
/gtkdoc-mkman
/gtkdoc-mkpdf
/gtkdoc-mktmpl
/gtkdoc-rebase
/gtkdoc-scan
/gtkdoc-scangobj
/gtkdoc-scanobj
/gtkdocize
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
