/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/fdl-appendix.xml
/C/gtk-doc-manual.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/bn_IN/bn_IN.po
/bn_IN/gtk-doc-manual.xml
/de/de.po
/de/gtk-doc-manual.xml
/el/el.po
/el/gtk-doc-manual.xml
/en_GB/en_GB.po
/en_GB/gtk-doc-manual.xml
/es/es.po
/es/gtk-doc-manual.xml
/fr/fr.po
/fr/gtk-doc-manual.xml
/gtk-doc-manual-C.omf
/gtk-doc-manual-bn_IN.omf
/gtk-doc-manual-de.omf
/gtk-doc-manual-el.omf
/gtk-doc-manual-en_GB.omf
/gtk-doc-manual-es.omf
/gtk-doc-manual-fr.omf
/gtk-doc-manual-gu.omf
/gtk-doc-manual-sl.omf
/gtk-doc-manual-sv.omf
/gtk-doc-manual-ta.omf
/gtk-doc-manual-te.omf
/gu/gtk-doc-manual.xml
/gu/gu.po
/sl/gtk-doc-manual.xml
/sl/sl.po
/so_locations
/sv/gtk-doc-manual.xml
/sv/sv.po
/ta/gtk-doc-manual.xml
/ta/ta.po
/tags
/te/gtk-doc-manual.xml
/te/te.po
